.feed__card {
    width: 584px;
    background-color: #1C1C21;
    border-radius: 40px;
    padding: 24px;
    margin-right: 8px;
}

.feed__info {
    display: flex;
    justify-content: space-between;
}

.feed__content {
    border: 1px green solid;
    display: flex;
}

.feed__ingredients {
    border: 1px green solid;
    display: flex;
}

.feed__price {
    border: 1px green solid;
    display: flex;
    align-items: center;
}