.login {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px auto;
}

.login__inputs {
    width: 480px;
}

.login__inputs div div {
    width: 480px;
}

.login__inputs div div div {
    width: 24px;
}

.login__links {
    display: flex;
}

.profile {
    border: 1px green solid;
    display: flex;
    margin: 120px auto auto 340px;
}