.login {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px auto;
}

.login__inputs {
    width: 480px;
}

.login__inputs div div {
    width: 480px;
}

.login__inputs div div div {
    width: 24px;
}

.login__links {
    display: flex;
}

.profile {
    border: 1px green solid;
    display: flex;
    margin: 120px auto auto;
}

.profile__links {
    text-decoration: none;
    width: 320px;
    border: 1px green solid;
}

.profile__links_active {
    color: white;
}

.profile__button {
    border: none;
    margin: 0;
    background: transparent;
    cursor: pointer;
    border: 1px green solid;
}

.profile__text {
    border: 1px green solid;
    width: 320px;
    color: #8585AD;
}

.loading__screen {
    display: flex;
    justify-content: center;
    margin: auto;
}