.login {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px auto;
}

.login__inputs {
    width: 480px;
}

.login__inputs div div {
    width: 480px;
}

.login__inputs div div div {
    width: 24px;
}

.login__links {
    display: flex;
}

.profile {
    display: flex;
    margin: 120px auto auto;
}

.profile__nav {
    margin-left: 380px;
    display: flex;
    flex-direction: column;
}

.profile__links {
    text-decoration: none;
    width: 320px;
    margin: 40px 0 0;
    
}

.profile__links_active {
    color: white;
}

.profile__buttons {
    display: flex;
    justify-content: right;
}

.profile__button {
    border: none;
    margin: 24px 0 0;
    background: transparent;
    cursor: pointer;
    text-align: left;
}

.profile__text {
    width: 320px;
    color: #8585AD;
}

.loading__screen {
    display: flex;
    justify-content: center;
    margin: auto;
}

.ingredient {
    width: 720px;
    background-color: #131316;
    margin: 120px auto;
    text-align: center;
}

.feed {
    border: 1px green solid;
    margin: 40px auto 0;
}

.feed__title {
    border: 1px green solid;
    margin: 0 0 20px;
}

.feed__container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    row-gap: 16px;
}
