.login {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px auto;
}

.login__inputs {
    width: 480px;
}

.login__inputs div div {
    width: 480px;
}

.login__inputs div div div {
    width: 24px;
}

.login__links {
    display: flex;
}

.profile {
    display: flex;
    margin: 120px auto auto;
}

.profile__nav {
    margin-left: 380px;
    display: flex;
    flex-direction: column;
}

.profile__links {
    text-decoration: none;
    width: 320px;
    margin: 40px 0 0;
    
}

.profile__links_active {
    color: white;
}

.profile__buttons {
    display: flex;
    justify-content: right;
}

.profile__button {
    border: none;
    margin: 24px 0 0;
    background: transparent;
    cursor: pointer;
    text-align: left;
}

.profile__text {
    width: 320px;
    color: #8585AD;
}

.loading__screen {
    display: flex;
    justify-content: center;
    margin: auto;
}

.ingredient {
    width: 720px;
    background-color: #131316;
    margin: 120px auto;
    text-align: center;
}

.feed__info {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1248px;
    border: 1px green solid;
}

.feed {
    border: 1px green solid;
    margin: 40px 0;
    width: 608px;
}

.feed__title {
    border: 1px green solid;
    margin: 0 0 20px;
}

.feed__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 75vh;
}

.feed__container::-webkit-scrollbar {
    width: 8px;
}

.feed__container::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.feed__container::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    height: 292px;
}

.feed__stats {
    border: 1px green solid;
    width: 580px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 206px min-content min-content;
    row-gap: 60px;
    margin-top: 100px;
}

.feed__status {
    border: 1px green solid;
    display: flex;
    justify-content: space-between;
}

.feed__ready {
    width: 272px;
}

.feed__process {
    width: 272px;
}
