.feed__ingredient {
    width: 64px;
    height: 64px;
    border: 2px #801AB2 solid;
    border-radius: 100px;  
    box-sizing: border-box;
    overflow: hidden;
    margin-left: -15px;
}

.feed__ingredient:first-of-type {
    margin-left: 0;
    z-index: 1;
}

.feed__image {    
    width: 112px;
    height: 56px;
    max-width: 100%;
    object-fit: cover;    
}